section#fotos h2 {
	background-color: rgba(2,20,36,0.6);
	color: #fff;
	text-align: center;
	width: 190px;
	height: 100px;
	margin: 5px 0;
	position: relative;
	-webkit-transition: all .2s linear;
	-moz-transition: all .2s linear;
	-o-transition: all .2s linear;
	-ms-transition: all .2s linear;
	transition: all .2s linear;
}
section#fotos h2 time {
	display: block;
	font-weight: bold;
	font-size: 30px;
	padding-top: 30px;
}
section#fotos h2 span {
	display: block;
	font-size: 14px;
	text-transform: lowercase;
	padding-top: 10px;
	letter-spacing: 1px;
}
section#fotos li h2:after {
	content: "";
	display: block;
	width: 20px;
	height: 24px;
	position: absolute;
	background-image: url(img/arrow.png);
	z-index: 0;
	right: -30px;
	top: 50%;
	margin-top: -12px;
	opacity: 0;
	-webkit-transition: all .2s linear;
	-moz-transition: all .2s linear;
	-o-transition: all .2s linear;
	-ms-transition: all .2s linear;
	transition: all .2s linear;
}

section#fotosli.active h2 {
	background-color: rgba(2,20,36,0.8);
}
section#fotos li.active h2:after {
	right: -20px;
	opacity: .8;
}

section#fotos p {
	margin: 10px 0;
	font-size: 16px;
}
section#fotos h3 {
	font-size: 20px;
	margin: 30px 0 15px;
	border-bottom: 1px solid rgba(2,20,36,0.8);
}

section#fotos li > div {
	background-color: rgba(169, 161, 153, 0.6);
	width: 650px;
	height: 400px;
	padding: 20px 30px;
	line-height: 1.6;
	position: absolute;
	top: 10px;
	right: 190px;
	opacity: 0;
	-webkit-transition: all .4s linear;
	-moz-transition: all .4s linear;
	-o-transition: all .4s linear;
	-ms-transition: all .4s linear;
	transition: all .4s linear;
}


section#fotos li.active > div { opacity: 1; }

a:link, a:visited {
	text-decoration: none;
	color: #A95A05;
	-webkit-transition: all .2s linear;
	-moz-transition: all .2s linear;
	-o-transition: all .2s linear;
	transition: all .2s linear;
}
a:hover {
	text-decoration: underline;
}
