body {
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
   	font-weight: 300;
}
.text-hide {
	text-indent: 110%;
	white-space: nowrap;
	overflow: hidden;
}

/* Header */
.jumbotron {
	background-image: url(../img/bgHeader.jpg);
	background-size: cover;
	background-attachment: fixed;
	background-repeat: repeat;
	color: #f0f0f0;
	text-align: center;
	margin: 0 auto;
	padding-bottom: 120px;
	text-shadow: 1px 1px 0 rgba(0,0,0,.8);
}

.jumbotron h1,
.jumbotron h1 small {
	color: #f0f0f0;
	text-transform: uppercase;
	font-family: Oswald, sans-serif;
}

.jumbotron h1 {
	text-align: right;
	font-size: 35px;
	width: 190px;
	margin-right: auto;
	margin-left: auto;
}

.jumbotron h1 small {
	font-size: 25px;
	display: block;
	text-align: right;
}

.jumbotron h1:before {
	content: "";
	display: block;
	text-align: left;
	width: 90px;
	height: 175px;

	background-image: url(../img/secopeHeader.png);
	background-repeat: no-repeat;
	background-size: 100% 100%;

	margin: 0 0 -30px 40px;
}

.jumbotron blockquote { border: 0; }
.jumbotron blockquote p { font-style: italic; font-weight: 200; }

.jumbotron .btn { 
	text-align: center; 
	text-transform: uppercase;
}

@media (min-width: 480px) {
	.jumbotron h1 { 
		width: 250px;
		font-size: 45px; 
	}
	.jumbotron h1 small { font-size: 35px; }
	.jumbotron h1:before {
		margin: 0 0 -40px 50px;
		width: 110px;
		height: 210px;
	}
}
@media (min-width: 768px) {
	.jumbotron h1 { 
		width: 330px;
		font-size: 60px; 
	}
	.jumbotron h1 small { font-size: 45px; }
	.jumbotron h1:before {
		margin: 0 0 -50px 65px;
		width: 150px;
		height: 292px;
	}
}

blockquote cite:before { content: "— ";}

/* Navbar */
.navbar-default {
	margin-top: -80px;
	border-radius: 0;
	height: 80px;
	background: -moz-linear-gradient(top,  rgba(15,40,72,0.8) 0%, rgba(15,40,72,0.95) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(15,40,72,0.8)), color-stop(100%,rgba(15,40,72,0.95)));
	background: -webkit-linear-gradient(top,  rgba(15,40,72,0.8) 0%,rgba(15,40,72,0.95) 100%);
	background: -o-linear-gradient(top,  rgba(15,40,72,0.8) 0%,rgba(15,40,72,0.95) 100%);
	background: -ms-linear-gradient(top,  rgba(15,40,72,0.8) 0%,rgba(15,40,72,0.95) 100%);
	background: linear-gradient(to bottom,  rgba(15,40,72,0.8) 0%,rgba(15,40,72,0.95) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cc0f2848', endColorstr='#f20f2848',GradientType=0 );
	border: 0;
}
.navbar, .navbar-nav {
	border: 0;	
	margin-bottom: 0;
	text-transform: uppercase;
	letter-spacing: 1px;
}
.navbar-default .navbar-brand {
    width: 32px;
    height: 60px;
    background: url(../img/secopeNav.png);
    background-size: 100% 100%;
    margin: 10px 20px;
}
.navbar-default .navbar-nav > li > a {
    color: #f0f0f0;
    height: 80px;
    padding: 30px 15px;
    margin: 0 5px;
    -webkit-transition: background .2s linear;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    color: #f0f0f0;
    background: rgba(0,0,0,.15);
}
.navbar-default .navbar-nav > .active > a, 
.navbar-default .navbar-nav > .active > a:hover, 
.navbar-default .navbar-nav > .active > a:focus {
    color: #ffbbbc;
    background: rgba(0,0,0,.15);
    border-top: 3px solid #c0392b;
    padding-top: 27px;
}
.navbar-default .navbar-toggle {
	margin: 25px 20px;
    border-color: #f0f0f0;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
    background-color: #c0392b;
}
.navbar-default .navbar-toggle .icon-bar {
    background-color: #f0f0f0;
}
@media (max-width: 767px) {
	.navbar-nav {
		background: -moz-linear-gradient(top,  rgba(15,40,72,0.8) 0%, rgba(15,40,72,0.95) 100%);
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(15,40,72,0.8)), color-stop(100%,rgba(15,40,72,0.95)));
		background: -webkit-linear-gradient(top,  rgba(15,40,72,0.8) 0%,rgba(15,40,72,0.95) 100%);
		background: -o-linear-gradient(top,  rgba(15,40,72,0.8) 0%,rgba(15,40,72,0.95) 100%);
		background: -ms-linear-gradient(top,  rgba(15,40,72,0.8) 0%,rgba(15,40,72,0.95) 100%);
		background: linear-gradient(to bottom,  rgba(15,40,72,0.8) 0%,rgba(15,40,72,0.95) 100%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cc0f2848', endColorstr='#f20f2848',GradientType=0 );
	}
	.navbar-default .navbar-nav > li > a {
	    background: transparent;
	    margin: 0;
	    border-top: 1px solid #0f0f0f;
	    height: 60px;
	    padding: 20px;
	}
	.navbar-default .navbar-nav > .active > a, 
	.navbar-default .navbar-nav > .active > a:hover, 
	.navbar-default .navbar-nav > .active > a:focus {
	    padding: 20px;
	}
    .navbar-default .navbar-nav .open .dropdown-menu > li > a {
        color: #ecf0f1;
    }
    .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
    .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
        color: #ffbbbc;
    }
}
.navbar-default .social {
	height: 80px;
	padding: 15px 0;
}
@media (max-width: 991px) {
	.navbar-default .social {
    	display: none;
    }
}