body {
padding: 30px;
}

.navbar {
margin-bottom: 30px;
padding-top: 4px;
background-color: rgb(4, 54, 87);
position: fixed;
width: 1150px;
height: 70px;
}

.nav li a {
	font-size: 20px;
    letter-spacing: -0.054em;
    font-family: "Arial Narrow";
}

.social ul li a img {
	width: 30px;
	height: 30px;
    padding: 0px;
}

	.social {
		padding-top: 0px;
	}

.opcao ul li a {
    padding: 17px;
}

.navbar-brand {
	font-size: 22px;
	color: #FFFFCC;
    margin-left: 110px;
}

.container-cont {
	margin-top: 80px;
}

#about {
	height: 520px;
}

#about #title {
    position: absolute;
    margin-left: 40px;
    margin-top: -20px;
    width: 171px;
    height: 540px;
    background: url("../img/sobre.png") no-repeat scroll 0% 0% transparent;
    overflow: hidden;
    text-indent: -2000px;
}

#about #text {
    position: absolute;
    margin-left: 572px;
    margin-top: 20px;
    width: 450px;
    height: 619px;
}

#content { 
    font-style: italic;
    font-size: 18px; 
    text-align: center;
    letter-spacing: -0.054em;
    line-height: 29px; 
}

#fotos {
    margin-top: 150px;
	height: 520px;
}

#fotos #title {
    position: absolute;
    margin-left: 40px;
    margin-top: -20px;
    width: 171px;
    height: 540px;
    background: url("../img/fotos.png") no-repeat scroll 0% 0% transparent;
    overflow: hidden;
    text-indent: -2000px;
}

#fotos #text {
    position: absolute;
    margin-left: 572px;
    margin-top: -350px;
    width: 450px;
    height: 619px;
} 


#fotos section h2 {
	margin-left: 190px;
}

#header h1 a {
    background: url("../img/headerlogo.png") no-repeat scroll 0% 0% transparent;
}

#header h1 a {
    width: 113px;
    height: 104px;
    display: block;
}

#header h1 a span {
    display: none;
}

#header h1, #header h1 a {
    width: 113px;
    height: 104px;
    display: block;
}

#header h1 {
    position: relative;
    bottom: 60px;
    right: 0px;
}
